:root {
  --primary: #0b6395;
  --primary-dark: #0c3a65;
  --primary-70: rgba(11, 99, 149, 0.7);
  --primary-50: rgba(11, 99, 149, 0.5);
  --primary-30: rgba(11, 99, 149, 0.3);
  --primary-10: rgba(11, 99, 149, 0.1);
  --logo: #02353c;
  --sidebar-icon: #7ecaee;
}

.bg-grad-sidebar {
  background-color: rgba(255, 255, 255, 0.9);
}

.h-dropdown-trigger {
    height: 60px !important;
}
