:root {
  --primary: #0b6395;
  --primary-dark: #0c3a65;
  --primary-70: rgba(11, 99, 149, 0.7);
  --primary-50: rgba(11, 99, 149, 0.5);
  --primary-30: rgba(11, 99, 149, 0.3);
  --primary-10: rgba(11, 99, 149, 0.1);
  --logo: #001726;
  --sidebar-icon: #eaeaea;
}

.font-sans {
  font-size: 16px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}

.bg-grad-sidebar {
  background-color: rgba(0, 0, 0, 0.9) !important;
  background-image: none !important;
}

.h-dropdown-trigger {
  height: 60px !important;
}
